.firstNav {
    height: 40px;
    /* width: calc(100% - 200px); */
    background-color: #0094DF;
    padding-inline: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftNav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftNav ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

}

.leftNav ul li {
    padding-left: 15px;
    flex-direction: row;
    color: white;

}

.rightNav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightNav ul {
    padding-right: 5px;
    display: flex;
    list-style-type: none;
    margin-bottom: 0;

}

.rightNav ul li {
    padding-right: 0;
    color: white;

}

.rightNav ul li span {
    margin-right: 10px;
    font-family: 'DM Sans', sans-serif;
}

.contain {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightNavAlt ul {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
}

.rightNavAlt ul li {
    flex-direction: row;
    list-style-type: none;
    padding-right: 28px;
}

.leftNavAlt {
    margin-left: 50px;
}

.rightNavAll {
    display: flex;
    align-items: center;
}

.rightNavAlt {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 150px;
}

.rightNavAlt ul li a {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.rightNavAlt ul li a:hover {
    color: rgb(245, 71, 196);
    transition: 0.4s;
}

.getQuetoDiv a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    position: absolute;


}

.getQuetoDiv {
    position: relative;
    background: #FF3E7E;
    font-size: 18px;
    /* text-align: center; */
    width: 130px;
    height: 44px;
    border-radius: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;

}

.mobile-menu {
    display: none;
}

@media only screen and (min-width:376px) and (max-width: 960px) {
    .firstNav {
        padding-inline: 2px;
        height: 50px;
    }
    .contain {
        display: none;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 99;
        background-color: #4c4c4c;
        font-size: 16px;
        padding: 5px;
    }

    .slicknav-menu {
        box-sizing: border-box;
    }

    .slicknav_btn {
        margin: 5px 5px 6px;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
        position: relative;
        display: flex;
        flex-direction: row;
        float: right;
        padding: 0.438em 0.625em;
        line-height: 1.125em;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #222;
        cursor: pointer;
    }

    .slicknav_menu .slicknav_menutxt {
        display: block;
        line-height: 1.188em;
        float: left;
        color: #fff;
        font-weight: 700;
        text-shadow: 0 1px 3px #000;
    }

    .slicknav_menu .slicknav_icon {
        float: left;
        width: 1.125em;
        /* height: 0.875em; */
        margin: 0.188em 0 0 0.438em;
        display: flex;
        flex-direction: column;
    }

    .slicknav_menu .slicknav_icon-bar {
        background-color: #fff;
        display: block;
        width: 1.125em;
        height: 2px;
        border-radius: 1px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
        margin-bottom: 2px;
    }

    .slicknav_nav {
        clear: both;
        color: #fff;
        margin: 0;
        list-style: none;
        overflow: hidden;
        padding: 0;
        font-size: .875em;
        display: none;

    }

    .slicknav_nav a {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        margin: 2px 5px;
    }

    .slicknav_nav_detail {
        height: 31px;

    }

    .slicknav_nav_detail:hover {
        background-color: #ccc;
    }

    .header-right-btn {
        border-radius: 30px;
        background: #FF3E7E;
        color: white;
        width: 220px;
        padding: 13px 22px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 10px;
        cursor: pointer;
    }

    .header-right-btn:hover {
        border-radius: 6px;
        background: #ccc;
    }

}